@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

body {
  margin: 0;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

svg {
  vertical-align: middle;
}

.content {
  margin: 0 36px;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 100px;
  border: 1px solid #E1E3E5;

  &__tablinks {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    // height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #E1E3E5;

    &.active {
      background: #E1E3E5;

      &::before {
        content: "\203A";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 10px;
      }
    }
  }
}

.main {
  margin: 40px;
  margin-left: 240px;
  margin-bottom: 0;
  background: #eee;
  padding: 30px;
  border-radius: 10px;

  .tabcontent {
    display: none;
  }

  h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
}

.tabcontent form {
  input,
  textarea,
  select {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
  }

  textarea {
    height: 60px;
    resize: vertical;
  }

  .age-container,
  .price-container {
    position: relative;
    input {
      padding-left: 25px;
    }

    span {
      position: absolute;
      height: 50px;
      width: 30px;
      text-align: center;
      left: 0;
      line-height: 50px;
      color: #868686;
      font-size: 20px;
    }
  }

  button {
    height: 50px;
    width: 100%;
    margin: 20px auto;
    background: #777;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
  }  
}

.category-list {
  h4 {
    font-weight: bold;
  }

  .category-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 30px;

    p,
    a,
    button {
      background: #eee;
      z-index: 1;
      padding: 0 10px;
    }

    button:hover {
      border-radius: 10px;
      background: #ddd;
    }
  

    &:before {
      content: '';
      position: absolute;
      bottom: 0.5rem;
      width: 100%;
      height: 0;
      line-height: 0;
      border-bottom: 2px dotted #ddd;
    }
  }
}

nav {
  z-index: 999;
  position: sticky;
  top: 0;
}

.products-list,
.order-list {
  overflow: auto;

  table, th, td {
    border: 1px solid;
    padding: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  tbody {
    border: 2px solid #777;
  }

  button {
    width: 100%;
    border-radius: 10px;

    &:hover {
      background: #ddd;
    }
  }

  img {
    height: 100px;
    width: 100%;
    object-fit: cover;
  }
}

.order-number {
  background: #E1E3E5;
  font-weight: bold;
}

.order-total {
  font-weight: bold;
}

.session-message {
  margin: 20px 0;
  padding: 0 20px;
  font-weight: bold;
  border-left: 5px solid #40ab40;
}

@media screen and (max-width: 900px) {
  .content {
    margin: 0;
  }

  .sidebar {
    width: 100%;
    position: relative;
    padding-top: 0;
    border: none;
    height: auto;
  }

  .main {
    margin: 20px;
  }

}