@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

svg {
  vertical-align: middle;
}

.content {
  margin: 0 12.5px;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  height: 53px;
  background: #fff;
  border: 1px solid #E1E3E5;
  z-index: 999;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 53px;
  border: 1px solid #E1E3E5;

  &__tablinks {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid #E1E3E5;

    &.active {
      background: #E1E3E5;

      &::before {
        content: "\203A";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 10px;
      }
    }
  }
}

.main {
  margin: 40px;
  margin-left: 220px;
  background: #eee;
  padding: 30px;
  border-radius: 10px;

  .tabcontent:not(:first-child) {
    display: none;
  }

  h3 {
    margin: 20px 0;
    text-align: center;
  }
}

.left {
  display: flex;
  align-items: center;

  &__exit {
    padding: 15px;
    border-right: 1px solid #E1E3E5;
  }

  &__heading {
    padding: 15px;
  }
}

form {
  input,
  textarea,
  select {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #E1E3E5;
    border-radius: 5px;
  }

  textarea {
    height: 60px;
    resize: vertical;
  }

  .age-container,
  .price-container {
    position: relative;
    input {
      padding-left: 25px;
    }

    span {
      position: absolute;
      height: 50px;
      width: 30px;
      text-align: center;
      left: 0;
      line-height: 50px;
      color: #868686;
      font-size: 20px;
    }
  }

  // #age::before {
  //   content: "+";
  //   display: block;
  //   height: 30px;
  //   width: 10px;
  //   left: 0;
  // }

  button {
    height: 60px;
    width: 50%;
    margin: 20px auto;
    background: #000;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }  
}

.category-item {
  line-height: 30px;
}

@media screen and (min-width: 900px) {
  .content {
    margin: 0 36px;
  }
}