.checkout{
    padding-top: 40px;
    max-width: 500px;
    margin: 0 auto;
    &__messages{
        a{
            font-weight: 400;
            color: #121212;
            text-decoration: underline;
            letter-spacing: 0.04em;
        }
        .message{
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.03em;
        color: rgba(18, 18, 18, 0.75);
        text-transform: uppercase;
        }
    }
    h1{
        font-weight: 400;
        font-size: 40px;
        color: #121212;
    }
    input{
        box-sizing: border-box;
        border: 1px solid #7D7D7D;
        width: 100%;
        background: transparent;
        padding: 16px;
        margin-top: 16px;
        letter-spacing: 0.04em;
        font-weight: 500;

        color: rgba(18, 18, 18, 1);
        &::placeholder{
            letter-spacing: 0.04em;
            color: rgba(18, 18, 18, 0.75);
        }
    }
    &__total{
        display: block;
        font-weight: 400;
        letter-spacing: 0.04em;
        padding: 16px 0;
    }
    &__btn{
        box-sizing: border-box;
        width: 120px;
        padding: 16px;
        background: #000000;
        color: #FFF;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.04em;
        &:active, &:focus {
            outline: none;
        }
    }

}
