.intro{ 
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/homepage_intro.jpg) rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    &__content{ 
        color: #FFFFFF;
        text-align: center;
        font-weight: 400;
        padding: 0 12.5px;
        box-sizing: border-box;
        h1{ 
            font-weight: 400;
            font-size: 40px;
            padding-bottom: 10px;
        }
        p{ 
            font-size: 16px;
            display: block;
            padding-bottom: 15px;
        }
        a{ 
            display: inline-block;
            font-size: 16px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            text-decoration: none;
            border: 1px solid #FFFFFF;
            padding: 16px;
            margin-top: 1px;
        }
    }
}
.wrapper{ 
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;;
}
.about{ 
    text-align: center;
    color: #121212;
    padding-top: 40px;
    h2{ 
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 32px;
    }
    p{
        font-weight: 400;
        letter-spacing: 0.04em;
    }
}
.catalog{ 
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    gap: 24px 10px;
    padding-top: 40px;
}
.video{ 
    padding-top: 40px;
    iframe{ 
        width: 100%;
        height: 50vh;
        margin: 0 auto;
    }
}
.ads{ 
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__card{ 
        box-sizing: border-box;
        padding: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{ 
            font-weight: 400;
            text-align: center;
            letter-spacing: 0.04em;
            color: #121212;
            padding-top: 16px;
        }
        
    }
}
@media screen and (min-width: 600px) {
    .intro{ 
        &__content{ 
            max-width: 500px;
            padding: 40px;
            background: rgba(0, 0, 0, 0.6);
        }
    }
}
@media screen and (min-width: 900px) {
    .about{ 
        padding-top: 63px;
    }
    .catalog{ 
        padding-top: 60px;
    }
    .video{ 
        padding-top: 60px;
        iframe{ 
            height: 800px;
        }
    }
    .ads{ 
        padding-top: 60px;
        flex-direction: row;
        gap: 30px;
        &__card{ 
            width: 50%;
        }
    }
}