@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: "Assistant", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}

svg {
  vertical-align: middle;
}

.session-message {
  margin: 20px 0;
  padding: 0 20px;
  font-weight: bold;
  border-left: 5px solid #40ab40;
}

// Navigation component style
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
}

.banner {
  width: 100%;
  height: 37px;
  text-align: center;

  p {
    line-height: 37px;
  }
}

.navigation {
  height: 60px;
  width: 100%;
  border-top: 1px solid #e1e3e5;
  border-bottom: 1px solid #e1e3e5;
  box-sizing: border-box;
  position: relative;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: none;
  }

  &__hamburger {
    padding: 10px;

    .close-btn {
      display: none;
    }
  }

  &__menu {
    display: none;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 10px;
      position: relative;
    }

    .menu-item a {
      padding: 10px;
      display: inline-block;
    }

    .submenu {
      display: none;
      flex-direction: column;
      gap: 10px;
      padding: 10px 20px;
      background: #fff;

      &__arrow svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__options {
    display: flex;
    .search{
      cursor: pointer;
    }

    .cart {
      position: relative;
    }

    div {
      padding: 10px;
    }
  }
  //search bar
  &__search {
    display: none;
    &--active {
      box-sizing: border-box;
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100vw;
      top: 0;
      left: 0;
      background-color: #fff;
      justify-content: center;
      z-index: 1;
    }
    &_container {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 23px;

      input {
        box-sizing: border-box;
        width: 281px;
        height: 40px;
        border: none;
        background-color: transparent;
        padding: 16px;
        border: 1px solid #7D7D7D;
        max-width: 460px;
        letter-spacing: 0.04em;
        &::placeholder {
          font-size: 15px;
          color: rgba(18, 18, 18, 0.75);
        }
        &:focus {
          border: none;
          outline: 1px solid #7D7D7D;

          + .search-icon svg {
            fill: #4d4d50;
          }
        }
      }
      .search-icon {
        position: absolute;
        right: 12px;
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
      }
      svg {
        fill: #66676B;
      }
    }
    .return-icon{
      cursor: pointer;
    }
  }
}

.cart-item-count {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: block;
  width: 17px;
  height: 17px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  font-weight: bold;
}

.navigation__hamburger.navigation__hamburger--open {
  .close-btn {
    display: block;
  }

  .open-btn {
    display: none;
  }

  ~ .left .navigation__menu {
    position: absolute;
    top: 59px;
    left: 0;
    display: block;
    width: 100vw;
    height: calc(100vh - (60px + 37px));
    padding: 50px;
    background: #fff;
    box-sizing: border-box;
  }
}

.menu-item.menu-item--open {
  .submenu {
    display: flex;
  }

  .submenu__arrow svg {
    transform: rotate(0);
  }
}

//  Product card
.item_card {
  color: #121212;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 170px;
  position: relative;

  &__image {
    position: relative;

    img {
      width: 170px;
      height: 170px;
      object-fit: cover;
    }
  }
  &__sale {
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 4px 12px;
    background: #3752b2;
    border-radius: 99px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__title {
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  &__discount {
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;
  }
  &__price {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  &:hover{
    cursor: pointer;
  }
}

.content {
  margin: 0 12.5px;
  box-sizing: border-box;
}


@media screen and (min-width: 600px) {
  .navigation {
    .left {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    &__hamburger {
      display: none;
    }

    &__menu {
      display: block;

      ul {
        flex-direction: row;
      }
    }
  }

  .menu-item.menu-item--open {
    .submenu {
      position: absolute;
      top: 50px;
      width: 200px;
      gap: 10px;

      li:hover {
        background: #f7f8f9;
      }
    }
  }

  .content {
    margin: 0 36px;
  }
}

@media screen and (min-width: 900px) {
  .content {
    margin: 0 64px;
  }
  .item_card {
    width: 260px;
    &__prices{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    img {
      width: 260px;
      height: 260px;
      object-fit: cover;
    }
  }
}
/**********/
/* footer */
/**********/

.footer__upper {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;


  .links {
    display: flex;
    gap: 180px;
    margin-top: 65px;
    margin-left: 105px;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .sub-wrap {
    display: flex;
    margin: 64px;
    justify-content: space-between;
    align-items: baseline;

    form {
      position: relative;
    }

    label {
      display:block; 
      font-size: 1.5em; 
      margin: 0.2em 0; 
      font-weight:bold
    }
    input {
      width: 325px;
      height: 48px;
      padding: 0 10px;
      padding-right: 45px;
      box-sizing: border-box;
    }
    input::placeholder,
    input[type="text"] {
      font-size: 16px;
      letter-spacing: 0.04em;
      color: rgba(18, 18, 18, 0.75);
    }

    button {
      position: absolute;
      right: 0;
      height: 48px;
      width: 48px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
    .icons {
      display: flex;
      justify-content: center;
      gap: 24px;
      height: 20px;
      cursor: pointer;
    }
  }
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-wrap {
    display: flex;
    gap: 20px;
    margin: 65px 0;

    .payment {
      display: flex;
      flex-direction: column;

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: rgba(18, 18, 18, 0.75);
      }
      select {
        padding: 11px;
        border: 1px solid #7d7d7d;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.7rem center;
        background-size: 1em;
        padding-right: 35px;
        cursor: pointer;
      }
    }
  }
}
.payment-icons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {

  .footer__upper {
    .links {
      flex-direction: column;
      gap: 40px;
      margin-left: 36px;
    } 

    .sub-wrap {
      flex-direction: column;
      gap: 50px;
      align-items: center;

      form {
        text-align: center;
      }
    }
  }
  .footer-container {
    flex-direction: column;
    margin-bottom: 50px;
  
    .footer-wrap {
      margin-bottom: 10px;
    }
  }  
}